<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <h1>This is the demo!</h1>

      <% if(data.length > 0) { %>
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% for(var i=0; i<data.length; i++) { %>
            <tr>
              <td><%= data[i].name %></td>
              <td><%= data[i].description %></td>
              <td><a href="/mongooses/edit/<%= data[i]._id %>"><button class="btn btn-warning">Edit</button></a>
              <form action="/mongooses/destroy/<%= data[i]._id %>" method="post"><button type="submit" class="btn btn-danger">Delete</button></form></td>
            </tr>
          <% } %>

        </tbody>

      </table>
      <% } %>
    </div>

  </body>
</html>
